<section>
  <div class="login-container">
    <div class="login-form">
      <h1>Connexion à <span>QuanPay</span></h1>
      <p>Vos paiements en toute simplicité et sécurité, au même endroit sans vous déplacer</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="email">Identifiant</label> <br>
        <input
          type="email"
          id="email"
          placeholder="Entrez votre Identifiant ou Email de connexion"
          required
          formControlName="email"
          [(ngModel)]="loginModel.email"
        >
        <br>

        <label for="password">Mot de passe</label>
        <input
          [type]="showPassword"
          id="password"
          placeholder="Entrez votre mot de passe"
          required
          formControlName="password"
          [(ngModel)]="loginModel.password"
        >
        <i (click)="onClick()" [class]=" showPassword === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'" class="show_password"></i>
        <button type="submit" [disabled]="form.invalid || isRequesting" class="">Se connecter
          <div *ngIf="isRequesting" class="spinner-grow text-green ml-4 float-end" color="green" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </form>
      <div class="centered mt-3 font-size-18">
        <a href="javascript:void(0)" class="link text-center" routerLink="/auth/register">Pas de compte ? <span>  S'inscrire <i class="fa fa-right-to-bracket"></i></span>  </a>
      </div>
    </div>

    <div class="login-image">
      <img src="assets/img/femme.png" alt="Image de connexion">
      <div class="c_container">
      </div>
    </div>
  </div>
</section>
