<div class="row">
  <div class="col-lg-8 mt-3">
    <h5 class="mb-2 title-22">Récapitulatif Compte</h5>
    <!-- Account details -->
    <div class="card p-3">
      <div class="account-container">
        <div class="account-heade">
          <img src="assets/img/bank_img.png" />
          <a href="#" class="text-black m-1">Libellé compte</a> <br>
          <h2 class="">Compte courant - Principal <img src="assets/img/navigate_left.png" /><img src="assets/img/navigate_right.png" /> </h2>
        </div>
        <div class="account-details">
          <div class="left p-3">
            <div class="d-flex">
              <table class="">
                <tr class="heads">
                  <th class="">Code </th>
                  <th>Code Ag</th>
                  <th>Numéro compte</th>
                  <th>RIB</th>
                </tr>
                <tr class="values">
                  <td>TG151</td>
                  <td>01160</td>
                  <td>10733570003</td>
                  <td>60</td>
                </tr>
              </table>
            </div>
            <p class="mt-3"><span class="head">IBAN</span><br> <span>TG534TG82789148484129100394384</span></p>
            <p><span class="head">CODE SWIFT</span><br> <span>BPECTGTGXXX</span></p>
          </div>
          <div class="ligne-verticale m-3"></div>
          <div class="center">
            <p>Mon solde<br> <span class="balance">12 670 550 XOF</span></p>
            <p><span>Devise</span><br> XOF</p>
            <p><span class="m-3">Statut</span> <br> <span class="status m-2">Actif</span></p>
          </div>
          <div class="ligne-verticale m-3"></div>
          <div class="right">
            <p><span class="head">Pays domiciliation</span><br> <img src="assets/img/flag_of_togo.png" /> </p>
            <p>Domiciliation Agence<br> <span class="bold">Cotonou</span></p>
          </div>
        </div>
        <!-- Account details actions -->
        <div class="account-actions">
          <button class="new-account btn-main"><span class="plus">+</span> Nouveau compte</button>
          <div class="light-main-btn" [routerLink]="'/'+routes.MY_ACCOUNTS_SEND_MONEY">
            <button class="transfer-mon text-danger">💸 Transférer de l’argent</button>
          </div>
          <div class="light-main-btn ml-2">
            <button class="download-ri light-main-btn text-danger"><img src="assets/img/download.png" alt="" /> Télécharger mon RIB</button>
          </div>
        </div>
        <!-- End account detals actions -->
      </div>
    </div>
    <!-- ENd account details -->

    <!-- Loan simulation -->
    <div class="simulate_loan card p-3">
      <nav class="navbar">
        <button>📄 Voir mon relevé</button>
        <button>📝 Demander un chéquier</button>
        <button class="active text-danger">📊 Simuler un prêt</button>
        <button>👥 Gérer mes bénéficiaires</button>
      </nav>
      <div class="content">
        <div class="left">
          <label>Type du prêt</label>
          <select>
            <option>🏦 Prêt Immobilier</option>
            <option>🏦 Prêt Etudiant</option>
            <option>🏦 Prêt Santé</option>
          </select>
          <label>Taux d’intérêt</label>
          <input type="range" min="7" max="14" value="9">
          <label>Montant du prêt</label>
          <input type="text" value="10.000.000 FCFA">
          <label>Taux d’intérêt</label>
          <input type="range" min="1" max="60" value="16">
          <button class="simulate btn btn-main text-center">Simuler</button>
        </div>
        <div class="right">
          <label>Montant mensualité</label>
          <input type="text" value="530.000 FCFA">
          <label>Montant total avec intérêt</label>
          <input type="text" value="12.700.500 FCFA">
        </div>
      </div>
    </div>
    <!-- End loan simulation -->
  </div>

  <!-- Right section -->
  <div class="col-lg-4" style="margin-top: -1.5rem; padding: .15rem; overflow: hidden;">
    <app-right-section-cards></app-right-section-cards>
  </div>
</div>
<!-- End right section -->


<!-- Satrt Send Money component -->
<div class="modal fade" id="customer-edit_add-modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="mb-0">Edit Customer</h5>
        <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default" data-bs-dismiss="modal">
          <i class="ti ti-x f-20"></i>
        </a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3 text-center">
            <div class="chat-avtar d-inline-flex mx-auto">
              <img class="rounded-circle img-fluid wid-70" src="../assets/images/user/avatar-5.jpg"
                alt="User image">
            </div>
          </div>
          <div class="col-sm-9">
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="form-label">Status</label>
              <select class="form-select">
                <option>Select Status</option>
                <option>Complicated</option>
                <option>Single</option>
                <option>Relationship</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" >Location</label>
              <textarea class="form-control" rows="3" placeholder="Enter Location"></textarea>
            </div>
            <div class="form-check form-switch d-flex align-items-center justify-content-between p-0">
              <label class="form-check-label h5 pe-3 mb-0" for="customSwitchemlnot1">Make Contact Info Public
                <span class="text-muted w-75 d-block text-sm f-w-400 mt-2">Means that anyone viewing your profile will be able to see your contacts details</span>
              </label>
              <input class="form-check-input h4 m-0 position-relative flex-shrink-0" type="checkbox" id="customSwitchemlnot1" checked="">
            </div>
            <hr class="my-3 border border-secondary-subtle">
            <div class="form-check form-switch d-flex align-items-center justify-content-between p-0">
              <label class="form-check-label h5 pe-3 mb-0" for="customSwitchemlnot2">Available to hire
                <span class="text-muted w-75 d-block text-sm f-w-400 mt-2">Toggling this will let your teammates know that you are available for acquiring new projects</span>
              </label>
              <input class="form-check-input h4 m-0 position-relative flex-shrink-0" type="checkbox" id="customSwitchemlnot2" checked="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <ul class="list-inline me-auto mb-0">
          <li class="list-inline-item align-bottom">
            <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default w-sm-auto" data-bs-toggle="tooltip" title="Delete">
              <i class="ti ti-trash f-18"></i>
            </a>
          </li>
        </ul>
        <div class="flex-grow-1 text-end">
          <button type="button" class="btn btn-link-danger btn-pc-default" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENd Send Money component -->
