<ul class="list-unstyled">
  <!-- ======= Menu collapse Icon ===== -->
  <li class="pc-h-item pc-sidebar-collapse">
    <a href="javascript:void(0)" class="pc-head-link ms-0" id="sidebar-hide">
      <i class="ti ti-menu-2"></i>
    </a>
  </li>
  <li class="pc-h-item pc-sidebar-popup">
    <a href="javascript:void(0)" class="pc-head-link ms-0" id="mobile-collapse">
      <i class="ti ti-menu-2"></i>
    </a>
  </li>
  <li class="dropdown pc-h-item">
    <a class="pc-head-link dropdown-toggle arrow-none m-0 trig-drp-search" data-bs-toggle="dropdown" href="javascript:void(0)"
      role="button" aria-haspopup="false" aria-expanded="false">
    </a>
    <div class="sidebar-left">
      <h4>Hi, Alban</h4>
      <h6 class="text-muted">👋🏽 Bienvenue sur ton dashboard</h6>
    </div>
  </li>
</ul>