<div class="card pt-4 p-3">
  <h5 class="mb-0 mt-4 card-title fw-700 main-family">Mes cartes</h5>
  <span class="dropdown_cards">
    <div class="dropdown">
      <a
        class="avtar avtar-s btn-link-secondary dropdown-toggle arrow-none"
        href="#"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="ti ti-dots f-18"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item text-muted" href="javascript;">Carte BankCash </a>
        <a class="dropdown-item" href="javascript;">Carte Premium</a>
        <a class="dropdown-item" href="#">Carte Gold</a>
        <a class="dropdown-item" href="#">Carte Classic</a>
      </div>
    </div>
  </span>
  <div class="row">
    <div>
      <div class="card-body d-flex muti_card">
        <div style="width: 80%" class="card-style">
          <div class="carte-item">
            <div class="item-style">
              <span class="carte-type float-right mt-1 mr-8x  r-0">BankCash</span>
              <span class="carte-level float-right mt-4 mr-7x">Compte premium</span>
              <span class="carte-number">4509 81** **** ****</span>
              <div class="carte-date">
                <div>Exp Date</div>
                <div class="value">07/26</div>
              </div>
              <div class="carte-cvv">CVV <br><span class="value">952</span></div>
            </div>
          </div>
        </div>
        <div class="card2">
          <div class="carte-item" style="background-color: yellow; width: 5rem">
            <span class="carte-number">4509<span class="ml-2">81</span> </span>
            <div class="carte-date">
              <div>Exp Date</div>
              <div class="value">07/26</div>
            </div>
            <div class="carte-cvv">CVV <br><span class="value">952</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h5 class="card-title fw-700 main-family mt-3">Transactions</h5>

  <div class="search-bar-container mt-2">
    <div class="search-icon">
      <i class="fa fa-magnifying-glass pointer"></i>
      <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
    </div>
    <input type="text" class="search-input" placeholder="Rechercher...">
  </div>
  <!-- Start Transactions history -->
  <div class="card-body">
    <div class="transaction-item">
      <div class="transaction-details">
        <div class="transaction-icon">
          <img src="assets/img/transaction_paypal.png" alt="Transaction title" />
        </div>
        <div class="transaction-info">
          <div>Deposit from my</div>
          <div class="transaction-date text-info">28 January 2021</div>
        </div>
      </div>
      <div class="transaction-amount negative">- 850 XOF</div>
    </div>
    <div class="transaction-item">
      <div class="transaction-details">
        <div class="transaction-icon">
          <img src="assets/img/transaction_other.png" alt="Transaction by paypal" />
        </div>
        <div class="transaction-info">
          <div>Deposit Paypal</div>
          <div class="transaction-date text-info">25 January 2021</div>
        </div>
      </div>
      <div class="transaction-amount positive">+ 2 500 XOF</div>
    </div>
    <div class="transaction-item">
      <div class="transaction-details">
        <div class="transaction-icon">
          <img src="assets/img/transaction_card.png" alt="Transaction title" />
        </div>
        <div class="transaction-info">
          <div>Jemi Wilson</div>
          <div class="transaction-date text-info">21 January 2021</div>
        </div>
      </div>
      <div class="transaction-amount text-success">+ 400 XOF</div>
    </div>
    <div class="transaction-item">
      <div class="transaction-details">
        <div class="transaction-icon">
          <img src="assets/img/transaction_paypal.png" alt="Transaction title" />
        </div>
        <div class="transaction-info">
          <div>Deposit from my</div>
          <div class="transaction-date text-info">20 January 2021</div>
        </div>
      </div>
      <div class="transaction-amount text-danger">- 150 XOF</div>
    </div>
    <div class="transaction-item">
      <div class="transaction-details">
        <div class="transaction-icon">
          <img src="assets/img/transaction_other.png" alt="Transaction title" />
        </div>
        <div class="transaction-info">
          <div>Deposit from my</div>
          <div class="transaction-date text-info">20 January 2021</div>
        </div>
      </div>
      <div class="transaction-amount text-danger">- 150 XOF</div>
    </div>
    <div class="transaction-item">
      <div class="transaction-details">
        <div class="transaction-icon">
          <img src="assets/img/transaction_card.png" alt="Transaction title" />
        </div>
        <div class="transaction-info">
          <div>Deposit from my</div>
          <div class="transaction-date text-info">20 January 2021</div>
        </div>
      </div>
      <div class="transaction-amount text-danger">- 150 XOF</div>
    </div>
    <div class="transaction-item">
      <div class="transaction-details">
        <div class="transaction-icon">
          <img src="assets/img/transaction_other.png" alt="Transaction title" />
        </div>
        <div class="transaction-info">
          <div>Deposit from my</div>
          <div class="transaction-date text-info">20 January 2021</div>
        </div>
      </div>
      <div class="transaction-amount text-danger">- 150 XOF</div>
    </div>
  </div>
  <!-- End transactions history -->
</div>
