<div class="navbar-content mt-4">
  <ul class="pc-navbar">
    <li class="pc-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="pc-link" [routerLink]="routes.DASHBOARD">
        <div class="borderedme"></div>
        <span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-status-up"></use>
          </svg>
        </span>
        <span class="pc-mtext">Dashboard</span>
      </a>
    </li>
    <li class="pc-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="pc-link" [routerLink]="routes.MY_ACCOUNTS">
        <div class="borderedme"></div>
        <span class="pc-micon"> 
          <svg class="pc-icon">
            <use xlink:href="#custom-fatrows"></use>
          </svg>
        </span>
        <span class="pc-mtext">Mes comptes</span>
      </a>
    </li>
    <li class="pc-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a href="javascript:void(0)" class="pc-link" [routerLink]="routes.MY_ASSURANCES">
        <div class="borderedme"></div>
        <span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-presentation-chart"></use>
          </svg>
        </span>
        <span class="pc-mtext">Mes assurances</span></a>
    </li>
    <li class="pc-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a href="javascript:void(0)" class="pc-link" [routerLink]="routes.MY_CARDS">
        <div class="borderedme"></div>
        <span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-24-support"></use>
          </svg>
        </span>
        <span class="pc-mtext">Mes cartes</span>
      </a>
    </li>
    <li class="pc-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a href="javascript:void(0)" class="pc-link" [routerLink]="routes.MY_FINANCES">
        <div class="borderedme"></div>
        <span class="pc-micon ">
          <i class="fa fa-coins"></i>
        </span>
        <span class="pc-mtext">Finances personnelles</span>
      </a>
    </li>
    <li class="pc-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a href="javascript:void(0)" class="pc-link" [routerLink]="routes.DEVISES_EXCHANGES">
        <div class="borderedme"></div>
        <span class="pc-micon">
          <i class="fa-solid fa-rotate"></i>
        </span>
      <span class="pc-mtext">Devises & Changes</span>
    </a>
    </li>
    <ul class="nav-bottom">
      <li class="pc-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a href="javascript:void(0)" class="pc-link" [routerLink]="routes.MY_PROFILE">
          <div class="borderedme"></div>
          <span class="pc-micon">
            <i class="ti ti-user"></i>
          </span>
          <span class="pc-mtext">Gérer mon profil</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="javascript:void(0)" class="pc-link" (click)="logout()">
          <div class="borderedme"></div>
          <span class="pc-micon ">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </span>
          <span class="logout-text">Se déconnecter</span></a>
      </li>
    </ul>
  </ul>
</div>
