<div class="navbar-content mt-4">
  <ul class="pc-navbar">
    <li class="pc-item">
      <a href="#" class="pc-link" routerLink="/">
        <span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-status-up"></use>
          </svg>
        </span>
        <span class="pc-mtext">Dashboard</span>
      </a>
    </li>
    <li class="pc-item">
      <a href="#" class="pc-link" routerLink="/myaccounts">
        <span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-fatrows"></use>
          </svg>
        </span>
        <span class="pc-mtext">Mes comptes</span>
      </a>
    </li>
    <li class="pc-item">
      <a href="#" class="pc-link">
        <span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-presentation-chart"></use>
          </svg>
        </span>
        <span class="pc-mtext">Mes assurances</span></a>
    </li>
    <li class="pc-item"><a href="#" class="pc-link" target="_blank">
        <span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-24-support"></use>
          </svg>
        </span>
        <span class="pc-mtext">Mes cartes</span>
      </a>
    </li>
    <li class="pc-item"><a href="" class="pc-link" target="_blank"><span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-airplane"></use>
          </svg> </span><span class="pc-mtext">Finances personnelles</span></a>
    </li>
    <li class="pc-item"><a href="" class="pc-link" target="_blank"><span class="pc-micon">
          <svg class="pc-icon">
            <use xlink:href="#custom-airplane"></use>
          </svg> </span><span class="pc-mtext">Devises & Changes</span></a>
    </li>
    <ul class="nav-bottom">
      <li class="pc-item"><a href="#" class="pc-link" target="_blank"><span class="pc-micon">
            <i class="ti ti-user"></i>
          </span><span class="pc-mtext">Gérer mon profil</span></a>
      </li>
      <li class="pc-item"><a href="#" class="pc-link" target="_blank">
          <svg class="pc-icon me-2">
            <use xlink:href="#custom-logout-1-outline"></use>
          </svg>
          <span class="logout-text">Se déconnecter</span></a>
      </li>
    </ul>
  </ul>
</div>